/*----------header--------------------*/
header{
   background: url(/Project/The-Resto/assets/img/bg-slider-06.jpg);
   position: relative;
   // aucupe 100% de l'écran
   min-height: 100vh;
   background: blue;
}